<div class="fade-in">
  <c-card class="mb-4">
    <c-card-header> Quản Lý Thông Tin Khách Hàng </c-card-header>
    <c-card-body>
      <ng-container *ngIf="isShowListCompany">
        <div class="d-flex justify-content-end mb-3">
          <button cButton color="warning" (click)="addNewCompany()">
            Thêm mới
          </button>
        </div>
        <table cTable>
          <thead cTableColor="dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col" class="text-center">Mã khách hàng</th>
              <th scope="col" class="text-center">Tên công ty</th>
              <th scope="col" class="text-center">Quản lý</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="listCurrentCompany.length; else showEmpty">
              <tr *ngFor="let item of listCurrentCompany; let id = index">
                <th scope="row">{{ id + 1 }}</th>
                <td class="text-center">{{ item.maKhachHang }}</td>
                <td class="text-center">{{ item.tenCongTy }}</td>
                <td class="text-center d-flex justify-content-center gap-2">
                  <div>
                    <button
                      cButton
                      color="success"
                      variant="outline"
                      (click)="showCurrentCompany(item)"
                    >
                      Xem
                    </button>
                  </div>
                  <div class="ml-2">
                    <button
                      cButton
                      color="warning"
                      variant="outline"
                      (click)="deleteCompany(item.id)"
                    >
                      Xoá
                    </button>
                  </div>
                </td>
              </tr>
            </ng-container>
            <ng-template #showEmpty>
              <tr>
                <td colspan="6">
                  <div class="text-center my-3">
                    <p>Hiện chưa có thông tin.</p>
                  </div>
                </td>
              </tr>
            </ng-template>
            <ng-template #showLoading>
              <tr>
                <td colspan="6">
                  <div class="text-center my-3">
                    <c-spinner></c-spinner>
                  </div>
                </td>
              </tr>
            </ng-template>
          </tbody>
        </table>
      </ng-container>
      <ng-container *ngIf="!isShowListCompany">
        <form [formGroup]="companyForm" class="row g-3">
          <c-row class="mt-4">
            <label cLabel="col" class="col-sm-2" for="tenCongTy">
              Tên khách hàng
            </label>
            <c-col [sm]="10">
              <input
                type="text"
                formControlName="tenCongTy"
                cFormControl
                id="tenCongTy"
                placeholder="Nhập mới tên công ty..."
                autocomplete="off"
              />
            </c-col>
          </c-row>
          <c-row class="mt-4">
            <label cLabel="col" class="col-sm-2" for="maKhachhang">
              Mã khách hàng
            </label>
            <c-col [sm]="10">
              <input
                type="text"
                formControlName="maKhachHang"
                cFormControl
                id="maKhachhang"
                placeholder="Nhập mã khách hàng..."
                autocomplete="off"
              />
            </c-col>
          </c-row>
          <c-row class="mt-4">
            <label cLabel="col" class="col-sm-2" for="adrress">
              Địa chỉ công ty
            </label>
            <c-col [xs]="10">
              <input
                type="text"
                formControlName="diaChiCongTy"
                cFormControl
                id="adrress"
                placeholder="Nhập địa chỉ..."
                autocomplete="off"
              />
            </c-col>
          </c-row>
          <c-row class="mt-4">
            <!-- <ng-container formArrayName="diaChiGiaoHang">
              <div
                *ngFor="let item of diaChiGiaoHang.controls; let i = index"
                [formGroupName]="i"
                class="d-flex"
                [class.mt-2]="i !== 0"
              > -->
            <label cLabel="col" class="col-sm-2" for="adrressGiaoHang">
              Địa chỉ giao hàng
            </label>
            <c-col [xs]="10" class="d-flex gap-2">
              <input
                type="text"
                cFormControl
                formControlName="diaChiGiaoHang"
                id="adrressGiaoHang"
                placeholder="Nhập địa chỉ giao hàng..."
              />
              <!-- <button cButton color="info" (click)="addNewMoreAddress()">
                    <svg
                      [cIcon]="icons.cilPlus"
                      size="lg"
                      title="List Icon"
                    ></svg>
                  </button>
                  <button cButton color="danger" (click)="removeThisAddress()">
                    <svg
                      [cIcon]="icons.cilMinus"
                      size="lg"
                      title="List Icon"
                    ></svg>
                  </button> -->
            </c-col>
            <!-- </div>
            </ng-container> -->
          </c-row>

          <!-- <c-row class="mt-4">
            <ng-container formArrayName="diaChiGiaoHang">
              <div
                *ngFor="let item of diaChiGiaoHang.controls; let i = index"
                [formGroupName]="i"
                class="d-flex"
                [class.mt-2]="i !== 0"
              >
                <label cLabel="col" class="col-sm-2" for="adrressGiaoHang">
                  {{ i === 0 ? "Địa chỉ giao hàng" : "" }}
                </label>
                <c-col [xs]="10" class="d-flex gap-2">
                  <input
                    type="text"
                    formControlName="address"
                    cFormControl
                    id="adrressGiaoHang"
                    placeholder="Nhập địa chỉ giao hàng..."
                  />
                  <button
                    cButton
                    color="info"
                    (click)="addNewMoreAddress()"
                    [disabled]="i === 4"
                  >
                    <svg
                      [cIcon]="icons.cilPlus"
                      size="lg"
                      title="List Icon"
                    ></svg>
                  </button>
                  <button
                    cButton
                    color="danger"
                    (click)="removeThisAddress()"
                    *ngIf="i !== 0"
                  >
                    <svg
                      [cIcon]="icons.cilMinus"
                      size="lg"
                      title="List Icon"
                    ></svg>
                  </button>
                </c-col>
              </div>
            </ng-container>
          </c-row> -->

          <c-col
            [xs]="12"
            class="text-centxer d-flex justify-content-center gap-2"
          >
            <button
              cButton
              type="submit"
              color="success"
              (click)="submitForm()"
              shape="rounded-pill"
              [disabled]="companyForm.invalid"
            >
              Tạo mới
            </button>
            <button
              cButton
              color="secondary"
              shape="rounded-pill"
              (click)="resetForm()"
            >
              Xoá hết
            </button>
            <button
              cButton
              color="warning"
              shape="rounded-pill"
              (click)="backToList()"
            >
              Trở lại danh sách
            </button>
          </c-col>
        </form>
      </ng-container>
    </c-card-body>
  </c-card>
</div>

<c-modal
  id="liveDemoModal"
  [visible]="visible"
  (visibleChange)="handleLiveDemoChange($event)"
>
  <c-modal-header>
    <h5 cModalTitle>Xác nhận</h5>
    <button (click)="toggleLiveDemo()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>Bạn muốn xoá công ty này?</c-modal-body>
  <c-modal-footer>
    <button (click)="toggleLiveDemo()" cButton color="secondary">Đóng</button>
    <button cButton color="primary" (click)="confirmDelete()">OK</button>
  </c-modal-footer>
</c-modal>
