<div class="fade-in">
  <c-card class="mb-4">
    <c-card-header> Tạo Phiếu Yêu Cầu Sản Xuất </c-card-header>
    <c-card-body>
      <form [formGroup]="createProductForm" class="row g-3">
        <c-row class="mt-4">
          <label cLabel="col" class="col-sm-2" for="maKhachHang">
            Chọn khách hàng
          </label>
          <c-col [sm]="10">
            <ng-select [searchable]="true" formControlName="maKhachHang">
              <ng-option
                *ngFor="let item of listCurrentCompany"
                [value]="item.maKhachHang"
              >
                {{ item.tenCongTy }}
              </ng-option>
            </ng-select>
          </c-col>
        </c-row>
        <c-row class="mt-4">
          <label cLabel="col" class="col-sm-2" for="ngayYeuCau">
            Chọn ngày yêu cầu
          </label>
          <c-col [sm]="10">
            <c-col lg="5">
              <input
                cFormControl
                id="ngayYeuCau"
                formControlName="ngayYeuCau"
                type="date"
              />
            </c-col>
          </c-col>
        </c-row>
        <c-row class="mt-4">
          <label cLabel="col" class="col-sm-2"> Số đơn hàng </label>
          <c-col [sm]="10">
            <input
              cFormControl
              formControlName="soDonHang"
              placeholder="Nhập số đơn hàng ..."
              type="text"
            />
          </c-col>
        </c-row>
        <c-row class="mt-4">
          <label cLabel="col" class="col-sm-2"> Địa chỉ giao hàng </label>
          <c-col [sm]="10">
            <select
              aria-label="Default select example"
              cSelect
              formControlName="diaChiGiaoHang"
            >
              <option value="" disabled selected>Chọn địa chỉ giao hàng</option>
              <option value="1">One</option>
            </select>
          </c-col>
        </c-row>
        <ng-container *ngIf="listProductsByCompany?.length">
          <ng-container
            *ngFor="let item of listProductsByCompany; let id = index"
          >
            <c-row [ngClass]="id === 0 ? 'mt-4' : '0'">
              <label cLabel="col" class="col-sm-2">
                {{ id === 0 ? "Sản Phẩm" : "" }}
              </label>
              <c-col [sm]="10" class="my-2">
                <c-form-check>
                  <input
                    cFormCheckInput
                    id="{{ item.id }}"
                    name="gridCheck"
                    type="checkbox"
                  />
                  <label cFormCheckLabel for="{{ item.id }}">{{
                    item.tenSanPham
                  }}</label>
                  <div class="d-flex gap-2">
                    <input
                      cFormControl
                      placeholder="Nhập số lượng..."
                      type="text"
                      appOnlyNumber
                    />
                    <input cFormControl placeholder="Ghi chú..." type="text" />
                  </div>
                </c-form-check>
              </c-col>
            </c-row>
          </ng-container>
        </ng-container>

        <c-col
          [xs]="12"
          class="text-center d-flex justify-content-center gap-2"
        >
          <button
            cButton
            type="submit"
            color="success"
            (click)="exportToExcel()"
            shape="rounded-pill"
          >
            Download file
          </button>
          <button
            cButton
            color="secondary"
            shape="rounded-pill"
            (click)="resetForm()"
          >
            Làm mới
          </button>
        </c-col>
      </form>
    </c-card-body>
  </c-card>
</div>
