<div class="fade-in">
  <c-card class="mb-4">
    <c-card-header> Tạo Phiếu Yêu Cầu Sản Xuất </c-card-header>
    <c-card-body>
      <form [formGroup]="createProductForm" class="row g-3">
        <c-row class="mt-4">
          <label cLabel="col" class="col-sm-2" for="maKhachHang">
            Chọn khách hàng
          </label>
          <c-col [sm]="10">
            <ng-select [searchable]="true" formControlName="maKhachHang">
              <ng-option
                *ngFor="let item of listCurrentCompany"
                [value]="item.maKhachHang"
              >
                {{ item.tenCongTy }}
              </ng-option>
            </ng-select>
          </c-col>
        </c-row>
        <c-row class="mt-4">
          <label cLabel="col" class="col-sm-2" for="ngayYeuCau">
            Chọn ngày yêu cầu
          </label>
          <c-col [sm]="10">
            <c-col lg="5">
              <input
                cFormControl
                id="ngayYeuCau"
                formControlName="ngayYeuCau"
                type="date"
              />
            </c-col>
          </c-col>
        </c-row>
        <c-row class="mt-4">
          <label cLabel="col" class="col-sm-2"> Số đơn hàng </label>
          <c-col [sm]="10">
            <input
              cFormControl
              formControlName="soDonHang"
              placeholder="Nhập số đơn hàng ..."
              type="text"
            />
          </c-col>
        </c-row>
        <c-row class="mt-4">
          <label cLabel="col" class="col-sm-2"> Địa chỉ giao hàng </label>
          <c-col [sm]="10">
            <select
              aria-label="Default select example"
              cSelect
              formControlName="diaChiGiaoHang"
            >
              <option value="" disabled selected>Chọn địa chỉ giao hàng</option>
              <option
                *ngFor="let item of listDiaChiGiaoHang"
                [value]="item?.address"
              >
                {{ item?.address }}
              </option>
            </select>
          </c-col>
        </c-row>

        <ng-container
          formArrayName="danhSachSanPham"
          *ngIf="listProductsByCompany.length"
        >
          <fieldset class="row mt-4">
            <legend cLabel="col" cCol [sm]="2" class="pt-0">
              Lựa chọn sản phẩm
            </legend>
            <c-col [sm]="10">
              <div
                *ngFor="let item of danhSachSanPham.controls; let id = index"
                [formGroupName]="id"
              >
                <c-form-check class="mt-2">
                  <input
                    cFormCheckInput
                    type="checkbox"
                    formControlName="isChecked"
                    (change)="handleChange($event, item)"
                  />
                  <label cFormCheckLabel>{{ item.value.tenSanPham }}</label>
                </c-form-check>
                <div class="d-flex gap-2">
                  <input
                    cFormControl
                    placeholder="Nhập số lượng..."
                    type="text"
                    appOnlyNumber
                    formControlName="soLuong"
                    [disabled]="!item.value.isChecked"
                  />
                  <input
                    cFormControl
                    placeholder="Ghi chú..."
                    type="text"
                    formControlName="ghiChu"
                  />
                  <input
                    cFormControl
                    placeholder="Nhập ngày cần giao hàng"
                    type="text"
                    onfocus="(this.type = 'date')"
                    id="date"
                    formControlName="ngayCanGiaoHang"
                  />
                </div>
              </div>
            </c-col>
          </fieldset>
        </ng-container>

        <c-col
          [xs]="12"
          class="text-center d-flex justify-content-center gap-2"
        >
          <button
            cButton
            type="submit"
            color="success"
            (click)="exportExcel()"
            shape="rounded-pill"
          >
            Download file
          </button>
          <button
            cButton
            color="secondary"
            shape="rounded-pill"
            (click)="resetForm()"
          >
            Làm mới
          </button>
        </c-col>
      </form>
    </c-card-body>
  </c-card>
</div>
